<section>
  <h2 id="about-me">About Myself</h2>
  <hr class="bar"/>
  <div class="about-lock">
    <div ontouchstart="this.classList.toggle('hover');" class="flip-container">
      <div class="flipper">
        <div class="front">
          <div class="face-img"></div>
        </div>
      </div>
    </div>
    <div class="glyph-icon flaticon-cogwheel28"></div>
    <div class="glyph-icon flaticon-computer1"></div>
    <div class="glyph-icon flaticon-hosting"></div>
    <div class="glyph-icon flaticon-computers13"></div>
  </div>
  <div class="blurb">
    <p>My name is Nicholas Massa, and I am a senior at Stevens Institute of Technology in Hoboken, New Jersey.  I am currently pursuing a bachelor’s degree in Cybersecurity and a master’s degree in Computer Science.  I have a deep interest in software development, network security, penetration testing, and digital forensics. In my free time I enjoy spending as much time as possible outside fishing, kayaking, hiking, and camping.  I also enjoy working on personal coding and security projects, which I plan to share here in the blog section of my website.  </p>
  </div>
  <div class="skill-lock"></div>
</section>
