<section class="section-contact">
  <h2 id="Details">Contact Details</h2>
  <hr class="bar"/>
  <div class="social-links">
    <!--<a href="https://www.facebook.com/"><div class="glyph-icon flaticon-facebook3"></div></a>-->
    <a href="https://github.com/nickm221"><i class="fa fa-github-square fa-4x glyph-icon" aria-hidden="true"></i></a>
    <a href="https://www.linkedin.com/in/nicholas-massa-0330b194"><i class="fa fa-linkedin-square fa-4x glyph-icon" aria-hidden="true"></i></a>
    <a href="mailto:contact-me@NickMassa.net"><i class="fa fa-envelope-square fa-4x glyph-icon" aria-hidden="true"></i></a>
    <a href="https://google.com"><i class="fa fa-google-plus-square fa-4x glyph-icon" aria-hidden="true"></i></a>
  </div>
  <hr class="bar"/>
</section>
