<div class="history">
  <div class="cd-timeline-header">
    <h2 id="Experenice">Experience</h2>
    <hr class="bar"/>
  </div>
  
  <section id="cd-timeline" class="cd-container">
    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-picture">
        <img src="../assets/img/college.svg" alt="Picture"/>
      </div><!-- cd-timeline-img-->
      <div class="cd-timeline-content">
        <h2 class="story-heading">Stevens Institute of Technology</h2>
        <P>In 2013, I began my college career at Stevens. I chose to pursue a degree in Cybersecurity because I have always had an interest in technology, coding, and the way that devices and software work. Cybersecurity allows me to channel that passion into a field where I can help protect others.</P>
        <span class="cd-date">September 2013 - May 2017</span>
      </div><!-- cd-timeline-content--><!-- cd-timeline-block-->
    </div>
    
    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-movie">
        <img src="../assets/img/web-programming.svg" alt="College"/>
      </div><!-- cd-timeline-img-->
      <div class="cd-timeline-content">
        <h2>Web Developer</h2>
        <!--  at Finalsite Developed Websites from scratch, supported clients, etc. -->
        <p>During my time as a Web Developer at Finalsite, I engaged in full stack development of responsive web pages and custom web modules.  I partnered with and directly supported over 100 clients, guiding them through the website's design, implementation, and testing.     </p>
        <span class="cd-date">May 2014 - December 2014</span>
      </div><!-- cd-timeline-content--><!-- cd-timeline-block-->
    </div>
    
    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-picture">
        <img src="../assets/img/hosting.svg" alt="Picture"/></div><!-- cd-timeline-img-->
        <div class="cd-timeline-content">
          <h2>Security Analyst Intern</h2>
          <!-- at SDG Corporation -->
          <p>As a member of the internal security team at SDG Corporation, I tested different firewalls in a self-architected virtual environment, conducted penetration tests using Kali Linux, and performed network scans using Nmap.  </p>
          <span class="cd-date">June 2015 - August 2015</span>
        </div><!-- cd-timeline-content--><!-- cd-timeline-block-->
      </div>
    
      <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-location">
          <img src="../assets/img/hosting.svg" alt="Location"/>
        </div><!-- cd-timeline-img-->
        <div class="cd-timeline-content">
          <h2>Infrastructure and Network Security Intern</h2>
          <p>As a member of the Infrastructure and Network Security Team at ADP, I conducted vulnerability management and policy compliance scans, engaged in compliance policy development, conducted penetration tests, and enhanced device data reports using Python.</p>
          <span class="cd-date">June 2016 - August 2016</span>
        </div><!-- cd-timeline-content--><!-- cd-timeline-block-->
      </div>  
    
      <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-location">
          <img src="../assets/img/graduate38.svg" alt="Location"/>
        </div><!-- cd-timeline-img-->
        <div class="cd-timeline-content">
          <h2>Graduate with Bachelor's and Master's degrees from Stevens</h2>
          <p>I graduated from Stevens Institute of Technology in May 2017 with a bachelor's degree in Cybersecurity and a master's degree in Computer Science.  I completed my undergraduate degree in 3 years, and then used my fourth year at Stevens to continue my education and complete my master's degree, graduating with high honors.</p>
          <span class="cd-date">May 2017</span>
        </div><!-- cd-timeline-content--><!-- cd-timeline-block-->
     </div>
    
     <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-location">
          <img src="../assets/img/hosting.svg" alt="Location"/>
        </div><!-- cd-timeline-img-->
        <div class="cd-timeline-content">
          <h2>Senior Security Consultant</h2>
          <p>Since beginning my professional career at Sungard Availability Services, I have partnered with 30+ clients, leading projects that are designed to improve their organization's security posture. These projects included vulnerability assessments, ISO 27000 series assessments, NIST 800-53 assessments, GDPR compliance efforts, NIST 800-37 compliance efforts, and penetration tests. Due to my eagerness to take on additional work and responsibilities, as well as the quality of my work, I was recently promoted to the role of Senior Security Consultant.  </p>
          <span class="cd-date">June 2017 - Present</span>
        </div><!-- cd-timeline-content--><!-- cd-timeline-block-->
      </div>  
    
        <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-location">
            <img src="../assets/img/question30.svg" alt="Location"/>
          </div>
        </div><!-- cd-timeline-->

    </section>
    <div class="cd-timeline-header"><h2></h2>
  </div>
</div>
